@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}


/* Customizing the Scrollbar*/
body::-webkit-scrollbar {
    width: 5px;
    background-color: #202a1f;
}

body::-webkit-scrollbar-thumb {
    background-color: #ff8427;
    border-radius: 5px;
}